@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* typography */
  --defaultFontSize: 87.5%;
  --headingFont: "Inter", sans-serif;
  --bodyFont: "Inter", sans-serif;
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  --backgroundColor: var(--grey-0);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}
html {
  font-size: var(--defaultFontSize);
}
@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}

body {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(1, 0, 0, 0.5)
    ),
    url("./hero-background@2x.png");
  color: white;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  max-width: 40em;
  font-size: 0.8rem;
}

h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 0.9rem;
  line-height: 22px;
}
h3 {
  font-size: 0.9rem;
  font-weight: 400 !important;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

::placeholder {
  color: var(--grey-600);
}

hr {
  border-top: var(--line);
}

button,
.btn {
  cursor: pointer;
  appearance: none;
  color: var(--white);
  background: #3885f6;
  border: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.5rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  font-size: 0.9rem;
  font-weight: 700;
  width: 9rem;
  border-radius: 3px;
}

.grey {
  background: #767d84;
  margin-left: 1.3125rem;
}
button:hover,
.btn:hover {
  color: var(--white);
  background: var(--primary-700);
  box-shadow: var(--shadow-2);
}
button.small {
  padding: 0.25rem 0.5rem;
  font-size: var(--smallText);
}

button.block {
  width: 100%;
}

/* Basic Classes */

.container {
  padding: 5rem 0;
}
.container-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.page {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

form > *:last-child {
  margin-bottom: 0;
}

/*#########*/
/* END OF GLOBALS */
/*#########*/

/*#########*/
/* Navbar */
/*#########*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  width: 123.76px;

  margin-bottom: -9px;
}
.nav-btn {
  max-width: 3rem;
}
.nav-btn svg {
  font-size: 1.2rem;
}
.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}
.show-links {
  height: 23.9375rem;
}

.nav-link {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  border-top: 1px solid var(--grey-500);
  transition: var(--transition);
}

.active-link {
  color: var(--primary-500);
}
.contact-link {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.contact-link a {
  padding: 0.15rem 1rem;
}
.arrow-span {
  opacity: 1;
  font-size: 1em;
  position: relative;
  bottom: 0.01rem;
  margin-left: 0.4em;
}
.grid-div {
  padding-top: 3rem;
}

.feature-image {
  position: relative;
  bottom: 19rem;
  left: 10rem;
  z-index: 1;
}
.feature-text-container {
  padding-top: 6rem !important;
  padding: 1.5rem;
}
.feature-link {
  color: #f65928;
  font-weight: bold;
}
.phone {
  padding-right: 3.3rem;
  padding-top: 0.4rem;
}
@media screen and (min-width: 992px) {
  .navbar {
    height: 6rem;
  }
  .nav-center {
    display: flex;
    align-items: center;
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: auto;
  }

  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-left: auto;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    font-size: 0.9rem;
    font-weight: 700;
    white-space: nowrap;
    padding: 0.15rem 1rem;
  }

  .nav-links-container {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
  }
  .contact-link {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

/*#########*/
/* Hero */
/*#########*/
.hero-btn {
  padding: 0.7rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.hero-section {
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero-ctas {
  margin-top: 2rem;
}

@media screen and (min-width: 992px) {
  .hero-section {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 400px;
  }
}

/*#########*/
/* Hero */
/*#########*/

.hero-img {
  height: 100%;
  border-radius: var(--borderRadius);
}
.hero {
  height: 40vh;
  position: relative;
  margin-bottom: 2rem;
}
.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--borderRadius);
}
.hero-text {
  color: var(--white);
  text-align: center;
}
